body {
    /* background-color: #d2f8f6; */
    background-color: #0F3057;
    /* background-image: url("src\images\wave.png"); */
}

h1 {
    color: #0F3057;
}

h2 {
    color: #008891;
}

.main-heading {
    font-family: 'Righteous', cursive;
    font-size: 4em;
}

